:root {
  --my-color1: #222;
  --my-color2: #1a047e;
  --my-color3: #ac3cc2;
  --my-color4: #fff;
  --my-color5: #ebfffc;
  --my-color6: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
body {
  
  height: 100%;
  position: relative;
  background: var(--my-color1);
 
}
.card {
 
  /* padding-top: 80p; */
  /* display: flex; */
  align-items: center;
  margin: auto;
  width: 70vw;
  height: fit-content;
  background: linear-gradient(135deg, var(--my-color2), var(--my-color3));
  color: var(--my-color4);
  border-radius: 20px;
  padding: 10%;
  text-align: center;
}
.card .search {
 
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .search input {
  border: 0;
  outline: 0;
  margin-right: 4%;
  background: var(--my-color5);
  color: var(--my-color6);
  padding: 2% 4%;
  
  width: 80%;
  border-radius:50px;
  font-size: 18px; 
}
.card .search button {
  border: 0;
  outline: 0;
  background: var(--my-color5);
  border-radius: 50%;
  height:6vh;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.card .search button img {
  padding: auto;
  height:5vh;
}
.weather{
  position: absolute;
  /* left: 20px; */
  top: 100%;
  left:15%;
  width: 70%;
  height: 70vh;
  background: linear-gradient(135deg, var(--my-color2), var(--my-color3));
  color: var(--my-color4);
  border-radius: 20px;
  padding: 4%;
  text-align: center;
}

.weather .weather-icon {
  width: 170px;
  margin-top: 70px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.weather .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
/* .weather .details .col {
  display: flex;
  align-items: center;
  text-align: center;
} */

.weather .details .col img {
  width: 40px;
  margin-right: 10px;
}
.weather .details .col .humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.card .error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media screen and (max-width:490px){
  
 
}